/*TAG SELECTORS*/

body{
  text-align: center;
  background-color: #1687a7;
  color: #fff;
}

h1{
  color: #f9f871;
  font-size: 100px;
}

p{
 font-size: 60px;
}

img{
 height: 200px;
}

/*CLASS SELECTORS*/

.Burger{
  margin-right: 50px;
}

.Burger:hover{
  background-color: green;
}

.Brocoli:hover{
 background-color: red;
}
